.two-vir{
    display: flex;
  align-items: center;
  justify-content: center;
}
.rev{
    width: 667px;
  padding: 50px 0;
  border-radius: 10px;
  background-color: white;
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  padding: 40px 30px;
  margin-top: 100px;
  
}
.two-vir img{
    width: 40px;
}
.review-info p{
    text-align: center;
  font-size: 19px;
  font-weight: 200;
  margin-top: 29px;
}
.review-info{
    text-align: center;
}
.person{
    display: flex;
  align-items: center;
  justify-content: center;
}
.person img{
    width: 90px;
    border-radius: 100%;
}
h5{
    font-weight: 200;
    margin: 10px 0;
}
h3{
    font-size: 21px;
    line-height: 1.14em;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 20px;
}