body{
    background-color: #F2F7F3;
}
.contain-reviews{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-editor{
    width: 700px;
    padding: 50px 0;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding: 40px 30px;
    margin-top: 100px;
}
.label-and-select{
    display: flex;
    gap: 13px;
    margin-bottom: 20px;
    align-items: center;
}
select{
    margin-left: 10px;
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
    padding: 5px 10px;
    width: 140px;
}
label{
    font-style: italic;
}

.add{
    margin-top: 27px;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding: 21px 30px;
    border-radius: 52px;
    border: none;
    background-color: #B3DA2D;
    cursor: pointer;
}
.contain-add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clear{
    width: 96px;
  height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 17px;
}