.four-services-box{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}
.main-services-title{
    margin-bottom: 120px;
}
@media screen and (max-width: 450px) {
    .four-services-box{
        flex-direction: column;
        max-width: 450px;
        align-items: center;
    }
}
@media (min-width: 450px) and (max-width: 810px) {
    .main-services-title h1{
        padding-top: 40px;
    }
    .four-services-box{
        display: grid;
  grid-template-columns: auto auto;
    }
}