body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line-cart{
    width: 920px;
    background-color: #b3da2d;
    height: 2px;
    border-radius: 22px;
}
.shop-product{
    background-color: #f2f7f3;
    padding: 31px 21px;
    width: 920px;
}
.contain{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78px 0;
}
.contain button{
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding: 21px 30px;
    border-radius: 52px;
    border: none;
    background-color: #B3DA2D;
    margin-top: 30px;
}
.product-cart{
    display: flex;
  gap: 25px;
  align-items: center;
}
.img-cart{
    width: 100px;
    
}
.contain-cart{
    width: 30%;
    display: flex;
    justify-content: end;

}
.cart-cross{
    cursor: pointer;
}
.product-cart{
    margin: 20px 0;
}
.info-cart{
    width: 160%;
}
.info-contain-cart{
    width: 53%;
}