.services-title{
    margin-top: 70px;
    margin-bottom: 60px;
}
.services-info{
    margin-bottom: 100px;
}
.absolute-services-title{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;

}
.absolute-services-title h1{
    font-size: 200px;
    font-weight: 800;
    position: absolute;
    z-index: -1;
    font-style: italic;
    white-space: nowrap;
    text-align: center;
    padding: 0px 211px;
}
.main-services-title h1{
    color: #10181A;
    line-height: 44px;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 90px;
    margin-top: 40px;
}
.main-services-title span{
    color:#B3DA2D;
    font-style: italic;
}
.services-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-info p{
    color: #A7A7A7;
    width: 656px;
}
.absolute-services-title h1{
    /* Text color */
   text-shadow: 
       -1px -1px 0 #DCDCDC,  
        1px -1px 0 #DCDCDC,
       -1px  1px 0 #DCDCDC,
        1px  1px 0 #DCDCDC; 
}

@media screen and (max-width:450px) {
    .absolute-services-title h1{
        font-size: 80px;
    }
    .main-services-title h1{
        font-size: 30px;
  margin-top: 30px;
  padding: 0;
    }
    .title-membership-pice{
        font-size: 40px !important;
    }
}

@media (min-width: 450px) and (max-width: 810px) {
    .absolute-services-title h1{
        font-size: 135px !important;
    }
}