.contact{
    max-width: 1400px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.contact input,textarea{
  margin-top: 10px;
}
.contact label{
  margin: 10px;
}
.contact-left{
    width: 50%;
}

.contact-left form{
    display: flex;
  flex-direction: column;
  padding: 70px 20px;
  border-radius: 30px;
  border: 2px solid #7E7E7E;
}
.contact-container-name{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.contact-container-name input{
  width: 320px;
  padding: 11px 0px 11px 23px;
  border: none;
  border-radius: 30px;
  background-color: #f0f0f0;
}
.contact-email input{
  width: 100%;
  padding: 11px 23px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 30px;
  margin-bottom: 15px;
}
.contact-message textarea{
  width: 100%;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 120px;
  margin-bottom: 15px;

}
.contact-left button{
  width: 50%;
  margin: auto;
    margin-top: auto;
  margin-top: 10px;
  padding: 9px;
  border-radius: 30px;
  color: white;
  background-color: black;
  border: none;
}
.contact-container-name input{
  width: 320px;
  padding: 11px 23px;
  border: none;
  border-radius: 30px;
  background-color: #f0f0f0;
}
.contact-info-box{
  display: flex;
  align-items: center;
  gap: 15px;
}
.info-box-img{
  padding: 13px;
  background-color: #b2d92b;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box-information h3{
  line-height: 15px;
  color: gray;
}
.info-box-information p{
  font-size: 21px;
  font-weight: 200;
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 40px;
  width: 100%;
  border-radius: 30px;
  background-color: #f6ffd8;
}
.contact-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-img{
  height: 283px;
  background-image: url('../../../public/about/pexels-roman-odintsov-8542675.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 30px;
}

@media screen and (max-width: 500px) {
  .contact {
      flex-direction: column;
  }
  .contact-left{
    width: 90%;
  }
  .contact-container-name{
    flex-direction: column;
  }
  .contact-name{
    display: flex;
    flex-direction: column;
  }
  .contact-container-name input{
    width: 100%;
  }
  .contact-right{
    justify-content: center;
    width: 90%;
  }
  .single-coach-landing{
    flex-direction: column-reverse;
  justify-content: center;
  }
  .single-coach-left{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .single-coach-left h1{
    font-size: 40px;
  }
  .single-coach-left p{
    font-size: 16px;
  margin: 15px 0 20px;
  width: 341px;
  }
  .single-coach-landing-img{
    font-size: 16px;
  margin: 15px 0 20px;
  width: 341px;
  }
  .single-coach-perfect{
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}

@media (min-width: 450px) and (max-width: 810px) {
  .contact {
    flex-direction: column;
}
.contact-left{
  width: 90%;
}
.contact-container-name{
  flex-direction: column;
}
.contact-name{
  display: flex;
  flex-direction: column;
}
.contact-container-name input{
  width: 100%;
}
.contact-right{
  justify-content: center;
  width: 90%;
 }
}