body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/

}
.contain{
    background-color: #f2f7f3;
    padding: 20px 20px;
    height: 1000px;
}
.account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #f2f7f3;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 47px;
    background-color: #b3da2d;
    padding: 87px 68px;
    border-radius: 20px;
}
input{
    width: 321px;
    padding: 20px 9px 20px 32px;
    border: none;
    border-radius: 20px;
}
.sign{
    width: 321px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #10181A;
    color: white;
    font-style: italic;
    font-weight: 700;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    list-style: none;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    transition: none;
    letter-spacing: 2px;
    color: black;
    position: relative;
    cursor: pointer;
    background-color: #b3da2d;
    border: none;
    border-radius: 20px;
    gap: 10px;
}
.back img{
    height: 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    list-style: none;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    transition: none;
    letter-spacing: 2px;
    color: white;
}
h3{
    font-weight: 200;
}
h3 a{
    color: white;
    font-weight: 400;
    font-style: italic;
    cursor: pointer;
}
.title img{
    height: 50px;
}
.title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}