
.header{
    background-image: url('/pexels-cottonbro-5730454.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
}

.main-header{
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 30px;
    padding-top: 280px;
}
.left-arrow{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    height: 362px;
    align-items: center;
}
.left-arrow img{
    width: 45px;
}
.main-header-content{
    width: 50%;
}
.right-arrow{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    height: 362px;
    align-items: center;
}
.right-arrow img{
    width: 45px;
}
.title-header h1{
    color: white;
    line-height: 80px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.main-header-info{
    color: white;
    margin-top: 35px;
    margin-bottom: 30px;
}
.main-header-info p{
    opacity: 0.5;
    width: 600px;
}
.read-more{
    padding: 20px 50px;
    background-color: #B3DA2D;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
}

.person-button{
    border: #ff00f7 2px solid;
  padding: 13px 13px;
  border-radius: 10px;
  background-color: #B3DA2D;
  color: white;
  cursor: pointer;
  transition: all 0.4;
  margin: 0 10px;
}
.person-button:hover{
    background-color: transparent;
    color: black;
    border: #B3DA2D 2px solid;

}
.hamburger{
    display: none;
}

