.shopContainer{
    max-width: 1500px;
    margin: auto;
    display: flex;
    padding-top: 100px;
}
.sidebar-shop{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-products{
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 30px 25px;
}
.side-bar-child{
    height: 480px;
    width: 87%;
    background-color : #F2F7F3;
    margin-top: 30px;
    border-radius: 30px;
}
.shop-cart{
    padding: 40px 30px 15px;
}
.title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.title img{
    height: 20px;
}
.title h1{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8em;
    font-style: italic;
    color: black;
}
.shop-cart p{
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 200;
}
.search-box-shop{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 15px;
}
.search-box-shop input{
    font-weight: 400;
    border: 2px silver solid;
    padding: 17px 25px 17px 30px;
    border-radius: 27px;
    width: 100%;
}
.shop-filter{
    padding: 40px 30px 15px;
}
.shop-filter input{
    width: 100%;
    margin-top: 50px;
    background-color: green;
}
.shop-filter-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter{
    padding: 10px 24px 11px 24px;
    line-height: 1.6em;
    min-width: 90px;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    background-color: #b3da2d;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
}
.read-more{
    padding: 20px 50px;
    background-color: #B3DA2D;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
}
.numbers{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}
.num{
    padding: 10px;
    background-color: #F2F3F7;
    font-size: 20px;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 10ms;
}
.num:hover{
    background-color: #B3DA2D;
    color: white;
}
.numbers-contain{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.num-and-main{
    display: flex;
  flex-direction: column;
}
.product-cart{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.img-cart{
    height: 70px;
    border-radius: 10px;
}
.info-cart h1{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
.info-cart span{
    font-weight: 300;
    line-height: 1.7em;
}
.cart-cross{
    margin-left: 10px;
    cursor: pointer;
}
.contain-cart{
    width: 30%;
    display: flex;
    justify-content: end;
}
.shop-filter-price{
    padding: 40px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop-filter-category{
    padding: 10px 30px;
    border-top: 1px solid #D9D9D9;
}
.filter-category-title{
    margin-bottom: 10px;
}
.filter-category-body ul{
    padding: 0 18px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.filter-category-body ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-btn {
    display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:450px) {
    .shopContainer{
        flex-direction: column;
  justify-content: center;
    }
    .sidebar-shop{
        width: auto;
    }
    .shop-products{
        width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
    }
}
@media (min-width:450px) and (max-width:810px) {
    .shopContainer{
        flex-direction: column;
    }
    .sidebar-shop{
        width: auto;
    }
    .side-bar-child{
        display: flex;
        height: auto;
    }
    .shop-products{
        width: auto;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}