.membership-price{
    background-color: #f2f7f3;
}
.membership-price-title span{
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #abd22c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 106px;
    position: relative;
    z-index: 3;
}
.title-membership-pice{
    line-height: 1.1em;
    font-size: 48px;
    font-style: italic;
    text-align: center;
    position: relative;
    z-index: 3;
}
.membership-price-box{
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 19px;
}
.membership-price-box h3{
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    color: #b3da2d;
    text-align: center;
}
.member-price{
    text-align: center;
    font-size: 30px;
    line-height: 2.8em;
}
.member-price-box ul li{
    padding: 0px 0px 10px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
}
.member-price-box ul{
    padding: 20px 47px;
}
.member-price-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.best-membership{
    background-image: url(image/service-01-365x450.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset -3px 68px 271px 50px #282a2d;
}
.best-membership ul{
    color: white;
}
.best-membership .member-price{
    color: white;
}
.membership-price{
    padding-bottom: 200px;
}
.member-price-box p{
    color: #A3A3A3;
  font-size: 14px;
  width: 238px;
}
.member-price h1{
    display: flex;
  align-items: baseline;
  justify-content: center;
}
.member-price span{
    font-size: 14px;
  font-weight: 200;
}
.member-price-box button{
    background-color: #b3da2d;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
}
.member-price-box-top{
    padding: 20px 40px 20px;
  border-bottom: 2px solid #D9D9D9;
}

@media screen and (max-width: 450px) {
    .membership-price-title span{
        margin-top: 56px;
    }
    .title-membership-price{
        font-size: 40px;
        line-height: 24px;
    }
    .membership-price-box{
        flex-direction: column;
        padding: 0 35px;
    }
}
@media (min-width: 450px) and (max-width: 810px) {
    .membership-price-box{
        display: grid;
  grid-template-columns: auto auto;
    }
}