.coach-img{
    /*background-image: url('/coach/copied-coach-1.jpg');*/
    height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 30px 30px 5px 5px;
}
.coach-box{
    width: 450px;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 34px -13px;
    border-radius: 30px;
    height: 645px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.rating-coach{
  margin-right: 20px;
    margin-left: 371px;
  background-color: #b3da2d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50px;
}
.coach-base-info{
    margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.coach-base-info button{
    padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #b3da2d;
}
.coach-info-i{
    padding: 7px 0;
}
.coach-benefit{
    display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 26px 30px 10px;
}
.coach-benefit span{
  width: 100%;
    display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.coach-info-i button{
    border: 2px solid #10181a;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  margin: 7px 38px 20px 300px;
}
@media screen and (max-width:450px) {
  .rating-coach{
    margin: 10px 307px;
  }
  .coach-name h2{
    font-size: 20px;
  line-height: 22px;
  }
  .coach-name span{
    font-size: 14px;
  }
  .coach-box{
    width: 400px;
    padding-bottom: 50px;
  }
  .coach-info-i button{
    margin: 2px 0 0 260px;
  }
}

@media (min-width: 450px) and (max-width: 810px){
  .coach-box{
    width: 400px;
  margin-right: 50px;
  }
  .rating-coach{
    margin-left: 300px;
  }
  .coach-name h2{
    font-size: 20px;
  line-height: 20px;
  }
  .coach-name span{
    font-size: 14px;
  }
  .coach-benefit span{
    font-size: 12px;
  }
  .coach-info-i button {
    margin: 0 0 20px 262px;
  }
}