.about-heading-container{
    background-color: #f2f7f3;
  padding-bottom: 87px;
  margin-bottom: 200px;
  border-radius: 0 0 400px 400px;
}

.about-nav{
    background-color: black;
}
.about-heading{
  max-width: 1400px;
  margin: auto;
  padding-top: 40px;
}
.about-heading-top h1{
    position: relative;
    padding: 10px 100px 15px;
    font-size: 64px;
}
.about-heading-top p{
    width: 480px;
  position: absolute;
  margin-left: 100px;
  color: #878787;
  font-weight: 300;
  margin-top: -1px;
}
.about-heading-center{
    display: flex;
  align-items: center;
  justify-content: center;
}
.about-heading-center img{
    width: 1200px;
}
.about-heading-bottom{
    position: absolute;
  margin-left: 830px;
  margin-top: -110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-heading-box{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.about-heading-box h1{
    font-size: 48px;
  line-height: 60px;
}
.about-heading-box p{
    font-size: 13px;
  color: #878787;
}
.info-about{
    max-width: 1400px;
  margin: auto;
}
.info-about-box{
    display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 200px;
}

.info-about-box-text h1{
    font-size: 64px;
    margin-bottom: 40px;
    line-height: 70px;
}
.info-about-box-text p{
    color: #7E7E7E;
  width: 675px;
  font-size: 20px;
  margin: 13px 0;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.info-about-box-text p svg{
  font-size: 12px;
  color: #b3da2d;
}
.info-about-box-text h3{
  color: #7e7e7e;
  font-size: 25px;
}
.info-about-box-img img{
    width: 651px;
}
.about-review{
    display: flex;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}
.about-reviews{
    display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.about-review-left img{
    width: 482px;
  border-radius: 30px;
}
.about-review-right-child{
    padding: 35px 20px;
    background-color: #f2f7f3;
    border-radius: 30px;
}
.review-stars span{
    font-size: 18px;
}
.about-review-right-child h2{
    font-size: 48px;
}
.about-review-right-child p{
    font-size: 24px;
  width: 500px;
  font-weight: 200;
  margin-bottom: 20px;
}
.about-review-left{
    width: 482px;
    height: 482px;
    background-image: url('../../../public/about/review-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
}
.left-arrow-about,.right-arrow-about{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 30px;
    border-radius: 100%;
    color: white;
    cursor: pointer;
}
.right-arrow-about{
    margin-right: 30px;
}
.persian-p-about{
  margin: 15px 826px 0px 0px;
}

.persian-bottom-about{
  margin: -110px 162px 0px 0px;
}

